/* hero */

.hero {
    padding: 5rem 0 10rem;
    background-image: url('/images/bg-blue.png');
    background-color: $blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-copa {
        max-width: 400px;
    }

    .date {
        text-transform: uppercase;
        letter-spacing: .2rem;
    }

    .btn-outline-light {
        padding: 10px 10rem;
        border-radius: 100px;
    }    
}





/* ===================================================================
 * # header 
 *
 * ------------------------------------------------------------------- */
 .s-nav {
    font-family: $primary-font;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    text-align: center;
    z-index: 100;
  }
  
  .s-nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
  }

  .header-nav-wrap {
    display: none;
    text-align: right;
    float: right;
    margin: 0;
    height: auto;
    width: 30%;
    background-color: #050505;
    padding: 120px 44px 64px;
}

  .header-nav-wrap .header-main-nav {
    display: block;
    padding-left: 0;
    height: auto;
    margin: 0 0 4rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  .header-nav-wrap .header-main-nav li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .header-nav-wrap .header-main-nav li a {
    padding: 18px 0;
    line-height: 20px;
    text-decoration: none;
  }

  .header-menu-toggle {
    display: block;
  }
  

  .header-nav-wrap ul {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-top: 18px;
  }
  
  .header-nav-wrap li {
    display: inline-block;
    padding-left: 0;
  }
  
  .header-nav-wrap li a {
    display: block;
    line-height: calc(78px - (18px * 2));
  }
  
  .header-main-nav a {
    color: rgb(255 255 255 / 0.6);
    font-weight: 600;
    position: relative;
  }
  
  .header-main-nav a:hover,
  .header-main-nav a:focus,
  .header-main-nav a:active {
    color: #ffffff;
  }
  
  .header-main-nav .current a {
    color: #ffffff;
  }
  

  .header-menu-toggle {
    background-color: $yellow;
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-family: "Roboto", serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: rgba(255, 255, 255, 0.5);
    transition: all .3s;
    position: absolute;
    right: 32px;
    top: 18px;
  }
  
  .header-menu-toggle:hover,
  .header-menu-toggle:focus {
    color: #ffffff;
  }
  
  .header-menu-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    margin-top: -1px;
    background-color: #ffffff;
    transition: all .5s;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 9px;
    right: auto;
    bottom: auto;
  }
  
  .header-menu-toggle span::before,
  .header-menu-toggle span::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
    transition: all .5s;
  }
  
  .header-menu-toggle span::before {
    top: -9px;
  }
  
  .header-menu-toggle span::after {
    bottom: -9px;
  }
  
  .header-menu-toggle.is-clicked span {
    background-color: rgba(255, 255, 255, 0);
    transition: all .1s;
  }
  
  .header-menu-toggle.is-clicked span::before,
  .header-menu-toggle.is-clicked span::after {
    background-color: white;
  }
  
  .header-menu-toggle.is-clicked span::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .header-menu-toggle.is-clicked span::after {
    bottom: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  

  @media screen and (max-width:768px) {
    .header-nav-wrap {
        display: none;
        text-align: right;
        float: right;
        margin: 0;
        height: auto;
        width: 45%;
        background-color: #050505;
        padding: 120px 44px 64px;
    }
  
  }
  

  
  


 